@media(min-width: 300px) and (max-width: 639px) {

.card {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;

}  

  /*======INDEX INSTRUCTORS===========*/
.table-container {
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

td, th {
  padding: 12px;
  font-size: 12px;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  display: none;

}

.viewOptional {
  display: none;
}

/*=======FILTERS=========*/
.table-container .header-table {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 32px;
}

.table-container .header-table a {
  margin: 0;
  width: 100%;
}

.table-container .header-table form {
  display: grid;
  grid-template: 1fr / 1fr;
  margin-top: 32px;
  
}

.table-container .header-table form button {
  width: 100%;
  margin-top: 10px;
}

.table-container table {  
  width: 100%;
  border-spacing: 0;
  box-sizing: border-box;
}

}

@media(min-width: 640px) and (max-width: 1050px) {
.viewOptional {
   display: none;
}

.table-container .header-table {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-bottom: 32px;
}

}

@media(min-width: 1050px) and (max-width: 1200px) {

.table-container table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

}