@media(min-width: 300px) and (max-width: 639px) {

.card {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;

}  

  /*======INDEX INSTRUCTORS===========*/
.table-container {
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

td, th {
  padding: 12px;
  font-size: 12px;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  display: none;

}

.viewOptional {
  display: none;
}

}